
section.top {
    position: relative;
    /* height: 40vh;
    height: 40dvh; */
    background: rgb(100,77,187);
    background: linear-gradient(0deg, rgba(100,77,187,1) 0%, rgba(138,70,207,1) 86%, rgba(165,75,224,1) 100%);

}

section.top nav {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    /* shadow */
    box-shadow: 8px -2px 0px rgba(0, 0, 0, 0.1);
}
section.top nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

section.top nav ul li {
    list-style: none;
    cursor: pointer;
    padding: 16px;
    color: var(--background-primary);
}

section.top nav ul li span:first-of-type {
    display: block;
    opacity: 0.8;
}
section.top nav ul li span:last-of-type {
    display: block;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

/* weather section */

section.weather div {
}

section.weather div.cloud {
    height: 100%;
    position: relative;
    top: -42px;
    margin-right: 16px;
}
section.weather div.cloud span {
    font-size: 3em;
}

section.weather {
    height: 100px;
    color: var(--background-primary);
    padding-left: 32px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 120px;
}

section.weather > div {
    display: inline-block;

}

.weather .temperature {
    font-size: 4em;
}

.weather .temperature span {
    font-size: 0.5em;
}

.weather .city, .weather .activity-info {
    padding: 8px 0;
    opacity: 0.8;
}

.weather .activity-info {
    /* align to center */
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);
    justify-content: center;
    border-radius: 999999px;
    box-shadow:
        0px 14.1px 2.6px -18px rgba(0, 0, 0, 0.061),
        0px 24.6px 7.1px -18px rgba(0, 0, 0, 0.09),
        0px 36.4px 17.2px -18px rgba(0, 0, 0, 0.078),
        0px 97px 57px -18px rgba(0, 0, 0, 0.07)
    ;
}

.weather .activity-info span:first-of-type {
    margin-right: 8px;
    font-size: 1em;
}

/* end of weather section */

section.top img.tower {
    height: 220px;
    position: absolute;
    bottom: 76px;
    right: 8px;
    filter: invert() drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
    opacity: 0.5;
}



nav li.active {
    border-top: 3px solid var(--active-color);
    background-color: rgba(255, 255, 255, 0.15);
}


section.bottom {
    height: 60vh;
    padding: 24px;
    overflow-y: scroll;
    padding-bottom: 0;
    background-color: var(--background-primary);
}

section.bottom h5 {
    font-weight: regular;
    opacity: 0.75;
    font-size: 1em;
    padding-bottom: 24px;
}

section.bottom div.cards {
    height: calc(100% - 48px);
    overflow-x: hidden;
    overflow-y: scroll;
}

section.bottom div.cards .card {
    height: 100px;
    display: flex;
}


.card .icon,
.card .info {
    padding: 8px;
}
.card .info {
    width: 100%;
    padding: 14px;
}
.card .icon span {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
}
    
.card .info .title {
    display: flex;
    align-items: center;
    font-weight: bold;
    opacity: 0.8;
    justify-content: space-between;
    
}
.card .info .note {
    padding: 8px 0;
    opacity: 0.5;
    font-weight: bold;
    font-size: 0.9em;
}
.card .info .pill span {
    margin-right: 8px;
    font-size: small;
}

.card .info .pill {
    display: flex;
    border-radius: 999999px;
    font-size: small;
    font-weight: bolder;
    color: var(--background-primary);
    padding: 4px 8px;
    width: min-content;
    align-items: center;
    background-color: red;
}